
/* universal selector */
/* *{
    color: darkolivegreen;
} */

/* type selector (for specific tags)*/

/* body{
    background-color: rgb(255, 120, 203);
} */

q{
    color: rgb(245, 6, 6);
}

/* ul{
    color:cornflowerblue;
} */

p{
    line-height: 1rem;
    font-size: 90%;
    text-indent: 2em;
}

/* h1{
    text-shadow: 5px 5px 5px rgb(239, 239, 8);
} */

img{
    float: left;
    margin-right: 1em;
}

/* h2{
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-variant: small-caps;
} */

/* ID selector (for a single element) */

#git_header{
    color: rgb(247, 163, 6);
}

#backstory_title{
    color:rgb(2, 99, 2);
    clear:left;
}

/*class selector (applies to multiple elements) */

.first_text{
    color:rgb(3, 128, 3);
}

/* .backstory{
    text-decoration:line-through;
} */

/* relational selector */
/* > means child */

/* combining a tag name selector with an id selector */
/* combinational selector */
section#git_header>ul {
    color: rgb(216, 72, 32);
}

/* descendent selector */
main i{
    color:brown;
}

/* pseudo-class for links */

header#title a:visited{
color: red;
}

header#title a:hover{
font-size: 200%;
color: purple;
}

