/* type selector */

body{
    background-color: rgba(180, 255, 150, 0.626);
}

h1{
    text-align: center;
    color: rgb(1, 50, 1); 
}

article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px dotted rgb(0, 117, 0);
}

img {
    float: left;
    margin: 1em;
    width: 27%;
    min-width: 200px;
    
}

q {
    font-weight: 800;
    font-size: 175%;
    color: rgb(2, 97, 2);
}

br {
    clear: left;
}

/* id/class selector */

#readings {
    color: rgb(255, 255, 255);
}
#read {
    background: rgb(161, 12, 14);
    border: dotted rgb(255, 193, 246);;
    padding: 1em 4em;
}


#items {
    color: rgb(255, 255, 255);
}
#it {
    /* background-color: rgb(249, 255, 161); */
    background:rgb(161, 12, 14);
    border: dotted rgb(255, 193, 246);
    padding: 0.5em 2em;
}

#jump{
    background:rgb(64, 134, 70);
    border: ridge rgb(193, 255, 206);
    padding: .5em;
}


.lists {
    font-size: 90%;
}

#phil {
    background: linear-gradient(35deg, rgb(161, 12, 14) 5%, rgb(47, 133, 13) 50%, rgb(161, 12, 14) 100%);
    width: 100px;
    padding: 1em 2em;
    border: dotted rgb(255, 255, 255);

}

.box {
    width: 20%;
    text-align: center;
    margin: 1em;
    color: rgb(255, 255, 255);
    border-radius: 10px;

    float: left;
    width: 350px;
}

.titles{
    color: rgb(2, 97, 2);
}

.comic-titles{
    color: rgb(135, 28, 37);
}

a:link {
    color: rgb(255, 183, 0);
}

a:visited {
    color: rgb(255, 255, 255);
}


.left{
    float:left;
    float:right;
}

/* relational selector */

main i {
    color: rgb(184, 11, 11);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* combination selector */
section#readings>ul {
    color: rgb(255, 255, 255);
}

section#items>ul {
    color: rgb(255, 255, 255);
}

/* attrib./pseudo-class/pseudo-elem. */

section#readings a:hover {
    font-size: 105%;
    color: rgb(197, 118, 250);
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
    width: 25%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    margin: 1em;
    text-decoration: none;
    background-color: rgb(161, 12, 14);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid rgb(2, 104, 2);
    border-radius: 10px;
    
}

/* #nav_menu ul li a.lastitem {
    color:rgb(204, 255, 0);
} */

#nav_menu ul li a.current {
    color: rgb(255, 255, 255);
}

/* media query */

/* @media only screen and (max-width: 1769px) {
    .box{
        float:left;
    }
} */

@media only screen and (max-width: 750px) {
 
    #nav_menu ul li {
        float: none;
        width: 100%;
    }

    #nav_menu ul li a {
        margin: 0em;
    }
 }

 @media only screen and (max-width: 1075px) {
    .comic-titles{
        float:right;
    }

    .box{
        float: left;
        width: 50%
    }

    footer{
        float: left;
    }
}

